<template>
  <q-page>
    <q-circular-progress
      v-if="isLoading"
      indeterminate
      size="50px"
      :thickness="0.4"
      color="secondary"
      center-color="primary"
      track-color="transparent"
      class="q-ma-md"
    />

    <q-page-container v-else style="padding-top: 0">

      <!-- Блок с фильтрацией -->
      <div class="row content-center justify-center">
        <q-input
          v-model="filter"
          filled
          type="search"
          debounce="300"
          :hint="filterSettings.hint"
          :loading="filterSettings.isLoading">

          <template v-slot:append>
            <q-icon name="search"/>
          </template>

        </q-input>
      </div>

      <br/>

      <!-- Список бандлов -->
      <transition-group
        appear
        class="row wrap justify-center content-stretch q-gutter-xl q-gutter-y-lg"
        mode="out-in"
        name="list"
        tag="div">

        <div class="col-sm-3" v-for="(item, index) in bundles" :key="'bundle_' + index">
          <q-card square bordered>
            <!-- Картинка и заголовок -->
            <q-card-section>
              <q-img
                class="shadow-5"
                :src="item.bundle.avatar_url || getDefaultImage(item.bundle)"
                :ratio="1"
                style="height: 150px"
                transition="slide-down">

                <div class="text-h5">
                  {{ item.bundle.name }}
                </div>

                <template slot="loading">
                  <div class="text-subtitle1">
                    Loading...
                  </div>
                </template>
              </q-img>
            </q-card-section>

            <!-- Описание -->
            <q-card-section>
              <div>
                {{ item.bundle.description }}
              </div>

              <div class="text-h6 text-center q-pa-md">
                v
                {{ item.tags && item.tags.latest && item.tags.latest.name || '(no tags)' }}
                <span class="text-grey">(latest)</span>
              </div>
            </q-card-section>

            <q-separator/>

            <!-- Действия -->
            <q-card-actions align="right">
              <q-btn
                class="text-bold"
                flat
                label="Обзор"
                :to="'/bundles/' + item.bundle.id"
                color="secondary"
              />
            </q-card-actions>
          </q-card>
        </div>
      </transition-group>
    </q-page-container>
  </q-page>
</template>

<script>
// Mixins
import ModuleMixin from '@/base/ModuleMixin'
import ErrorMixin from '@/base/ErrorMixin'

// Local services
import BundleService from '@/modules/bundles/services/BundleService'

export default {
  mixins: [
    ModuleMixin,
    ErrorMixin,
  ],
  name: 'BundleList',
  created: function () {
    this.$store.commit('toolbar/setSubModuleTitle', 'Список')

    // Сообщаем что находимся в загрузке
    this.isLoading = true

    // Массив сбора Промисов для получения информации
    const promises = []

    this.bundleIds.forEach(it => {
      promises.push(
        BundleService.getBundle(it)
      )
    })

    Promise.all(promises).then(values => {
      this.items = values

      this.isLoading = false
    }).catch(() => {
      this.error = 'Не удалось получить список бандлов'

      this.isLoading = false
    })
  },
  data () {
    return {
      // Признак загрузки данных
      isLoading: false,
      // Массив бандлов
      items: [],
      // Строка для фильтрации
      filter: '',
      // Конфигурация поля с фильтрацией
      filterSettings: {
        hint: 'Фильтрация',
        isLoading: false,
      },
      // Идентификаторы репозиториев с бандлами
      // TODO: брать бы из сторонней БД
      bundleIds: [
        13114133, // gp-tree-bundle
        13318222, // gp-doctrine-types-bundle
        13733067, // gp-redis-bundle
        13267761, // gp-fluentd-logger
        13114198, // gp-validation-bundle
        13114122, // gp-response-bundle
        13113985, // gp-remote-services-bundle
        13113603, // gp-perms-bundle
        13113442, // gp-event-bus-bundle
        13113099, // gp-elasticsearch-bundle
        13113082, // gp-amqp-bundle
        13115436, // gp-entity-helper
        13115435, // gp-string-helper
        13115423, // gp-exception
        13115410, // gp-pagination
        13115388, // gp-recipes
        13115481, // gp-elasticsearch
        13115455, // gp-symfony-tools
        14724835, // gp-prism
      ],
    }
  },
  methods: {
    // Получение картинки по-умолчанию, если таковой нет у репозитория
    getDefaultImage: function (info) {
      return `https://placehold.it/450x150/41b883/ffffff?text=${info.name}`
    },
    // Смена подсказки под формой фильтрации
    changeHint: function () {
      this.filterSettings.hint = this.filter ? `Фильтрация по ${this.filter}` : 'Фильтрация'
    },
  },
  computed: {
    // Получение списка загруженных/фильтрованных бандлов
    bundles: function () {
      this.changeHint()

      if (this.filter) {
        return this.items.filter(elem => elem.bundle.name.indexOf(this.filter) > -1)
      }

      return this.items
    },
  },
}
</script>

<style scoped>

</style>
