<template>
  <q-page>
    <q-circular-progress
      v-if="loading.common"
      indeterminate
      size="50px"
      :thickness="0.4"
      color="secondary"
      center-color="primary"
      track-color="transparent"
      class="q-ma-md"
    />

    <div class="bundle_info" v-else>
      <!-- Заголовок -->
      <div class="flex-center full-width">
        <!-- Название -->
        <div class="col text-center">
          <a class="link"
             target="_blank"
             style="justify-content: center"
             :href="info.bundle && info.bundle.http_url_to_repo">
            <span style="font-size: 18pt; color: black">
              {{ info.bundle && info.bundle.name }}
            </span>

            <q-icon name="open_in_new" color="primary" size="24px" style="padding-left: 12px;"/>
          </a>
        </div>

        <!-- Описание -->
        <div class="col text-center">
          <span style="font-size: 14pt;">
            {{ info.bundle && info.bundle.description }}
          </span>
        </div>
      </div>

      <q-separator spaced/>

      <!-- Карточки с быстрой информацией -->
      <div class="q-pa-md">
        <div class="row justify-around">
          <!-- Список тегов -->
          <q-card class="col-2" square bordered style="height: fit-content">
            <q-card-section>
              <q-item-label header>
                Список версий (тегов)
                <q-separator spaced/>
              </q-item-label>
            </q-card-section>

            <q-card-section v-if="info.tags && info.tags.list && info.tags.list.length > 0">
              <q-list bordered separator>
                <q-item clickable v-ripple v-for="tag in (info.tags && info.tags.list)" :key="tag.name">
                  <q-item-section>
                    <q-item-label>
                      {{ tag.message }}
                    </q-item-label>

                    <q-item-label caption>
                      {{ tag.name }} | {{ tag.commit && tag.commit.author_name }}
                    </q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-section>

            <q-card-section v-else>
              Тегов нет
            </q-card-section>
          </q-card>

          <!-- Readme -->
          <q-card class="col-8" square bordered>
            <!-- Заголовок -->
            <q-card-section square bordered>
              <q-item-label header>
                <div class="full-width row no-wrap justify-between items-center content-start">
                  <div>
                    README.md
                  </div>

                  <div>
                    <a class="link" target="_blank"
                       style="color: #0d47a1"
                       :href="info.bundle && info.bundle.http_url_to_repo.split('.git')[0] + '/blob/master/README.md'">
                      <span>Open in GitLab</span>
                      <q-icon name="open_in_new"/>
                    </a>
                  </div>
                </div>
                <q-separator spaced/>
              </q-item-label>
            </q-card-section>

            <q-card-section>
              <transition appear
                          mode="out-in"
                          enter-active-class="animated flipInX"
                          leave-active-class="animated flipOutX">
                <q-circular-progress
                  indeterminate
                  v-if="loading.readme"
                  style="width: 100%; margin: 0 auto;"
                  size="50px"
                  :thickness="0.22"
                  color="accent"
                  track-color="grey-3"
                  class="q-ma-md"
                />

                <!-- Содержимое -->
                <div v-else class="markdown-body" v-html="value"></div>
              </transition>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
// Mixins
import ModuleMixin from '@/base/ModuleMixin'

// Local services
import BundleService from '@/modules/bundles/services/BundleService'

// Функция для перобразования в markdown
import marked from 'marked'

// Подсветка кода
import hljs from 'highlightjs/highlight.pack'

export default {
  mixins: [
    ModuleMixin,
  ],
  name: 'BundleView',
  created: function () {
    this.$store.commit('toolbar/setSubModuleTitle', 'Просмотр бандла')
    const id = this.$route.params.id || null

    if (id === null) {
      this.router.replace('/')
    }

    this.loading = {
      common: true,
      readme: true,
    }

    BundleService.getBundle(id).then(data => {
      this.info = data
    }).finally(() => {
      this.loading.common = false
    })

    BundleService.getReadme(id).then(data => {
      this.value = marked(
        Buffer.from(data.bundle.content, 'base64').toString()
      )

      setTimeout(() => {
        document.querySelectorAll('pre code').forEach(block => {
          hljs.highlightBlock(block)
        })
      }, 1000)

      this.loading.readme = false
    }).catch(() => {
      this.loading.readme = false
    })
  },
  data () {
    return {
      // Признак загрузки данных
      loading: {
        // Общая загрузка
        common: false,
        // Загрзука файла Readme
        readme: false,
      },
      // Информация о бандле
      info: {},
      // Вывод готовой информации из Readme.md
      value: '',
    }
  },
}
</script>

<style lang="css" scoped>
  @import '~github-markdown-css/github-markdown.css';
  @import '~highlightjs/styles/github.css';

  .bundle_info {
    display: block;
  }

  .bundle_info .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    margin: 0 auto;
    padding-left: 45px;
  }

  @media (max-width: 767px) {
    .bundle_info .markdown-body {
      padding: 15px;
    }
  }

  .bundle_info .link {
    display: flex;

    min-width: 130px;

    justify-content: space-evenly;
    align-items: center;

    text-decoration: none;
  }
</style>
