<template>
  <q-page-container>
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </q-page-container>
</template>

<script>
export default {
  name: 'Bundle',
  created: function () {
    this.$store.commit('toolbar/setTitle', 'Бандлы')
  },
}
</script>

<style scoped></style>
