<template>
  <q-layout view="lHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="drawer.show = !drawer.show"/>

        <q-toolbar-title>
          {{ title || 'GpTutorial' }}
        </q-toolbar-title>

        <!-- Отображение ошибок -->
        <transition name="fade">
          <q-toolbar-title v-if="error">
            Произошла ошибка:
            <span class="text-accent">
              {{ error }}
            </span>
          </q-toolbar-title>
        </transition>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="drawer.show" side="left" overlay behavior="mobile" bordered :breakpoint="400" show-if-above>
      <q-list padding>
        <q-item v-for="item in drawer.menuItems" :key="item.to" clickable v-ripple>
          <q-item-section avatar>
            <q-icon :name="item.icon"/>
          </q-item-section>

          <q-item-section>
            <router-link :to="item.to">
              {{ item.title }}
            </router-link>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  name: 'App',
  watch: {
    error: function (val) {
      clearTimeout(this.errorTimeout)

      if (val !== '') {
        const _this = this

        this.errorTimeout = setTimeout(function () {
          _this.$store.commit('error/setMessage', '')
        }, 3000)
      }
    },
  },
  created: function () {
    // Очистка ошибок
    this.$store.commit('error/setMessage', '')
  },
  data () {
    return {
      // Конфигурация Drawer
      drawer: {
        // Показывать/Скрывать NavigationDrawer
        show: false,
        // Элементы меню
        menuItems: [
          { title: 'Dashboard', icon: 'dashboard', to: '/', },
          { title: 'Bundles', icon: 'dashboard', to: '/bundles', },
        ],
      },
      errorTimeout: null,
    }
  },
  computed: {
    title: function () {
      return this.$store.getters['toolbar/title']
    },
    error: function () {
      return this.$store.getters['error/message']
    },
  },
}
</script>

<style lang="css">
  @import '~animate.css/animate.min.css';

  /* Vue аниации */
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .slide-fade-enter-active {
    transition: all .3s ease;
  }

  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  .list-item {
    display: inline-block;
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }

  .list-complete-item {
    transition: all 1s;
    display: inline-block;
    margin-right: 10px;
  }
  .list-complete-enter, .list-complete-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
  .list-complete-leave-active {
    position: absolute;
  }

  /* ******************* */
</style>
